@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", serif;
  font-size: 1.5em;
  background-color: #fff;
  color: #444;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Poppins", serif;
}
/* body , html {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    } */
a,
button {
  cursor: pointer;
  font-family: inherit;
}
.header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.6)
    ),
    url("./img_project/bg_img_header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
/* _______________________________________________________- */
/* Links ribbon window styles: */
.Window--Tape--Links--Responsive {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem 0;
  gap: 1rem;
  transition: all ease-in 300ms;
  transform: translateY(0px);
  z-index: 101;
}
.Window--Tape--Links--Responsive a {
  text-decoration: none;
  font-size: 1rem;
  color: #000;
}
.svg--clos--Window--Tape--Links {
  width: 40px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.clos--Window--Tape--Links {
  transform: translateY(-330px);
}
.svg__top--bott {
  width: 35px;
  transition: all ease-in 50ms;
  transform: rotate(0deg);
}
.transform--rotate {
  transform: rotate(180deg);
}
/* _______________________________________________________-- */
.sticky-nav-container {
  height: 90px;
  /* top: -1px; */
}
/* Link bar styles: */
.nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  z-index: 100;
}
.sticky {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
  padding: 0rem 1rem;
}
.box__title {
  display: flex;
  align-items: center;
}
.box__title h1 {
  font-weight: 900;
  color: #fff;
}
.span__title {
  color: #ff7043;
  text-shadow: 0px 0px 20px rgba(255, 171, 145, 0.8);
}
.nav__links {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.nav__links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
}
.box__btn--login,
.btn__login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box__btn--login {
  gap: 1.5rem;
}
.btn__login {
  gap: 4px;
}
.btn__login {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  background-color: inherit;
  color: #fff;
  border: 2px dashed #ff7043;
  transition: all ease-in 300ms;
  box-shadow: 0px 0px 8px rgba(255, 171, 145, 0.4);
}
.svg__login {
  width: 18px;
  transition: all ease-in 300ms;
}
.btn__login:hover {
  background-color: #ff7043;
}
.btn__login:hover svg {
  transform: translateX(8px);
}
.svg--open--Window--Tape--Links {
  width: 40px;
  color: #fff;
  cursor: pointer;
}
/* _______________________________________________________________ */
/* Header content styles: */
.content__header {
  width: 75%;
  margin: 7rem auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.3rem;
  transition: transform 1s, opacity 1s;
  transform: translateY(0px);
}
.transform--opacity {
  transform: translateY(50px);
  opacity: 0;
}
.content__header h2 {
  width: 85%;
  font-size: 3.5rem;
  font-weight: 900;
  color: #fff;
  text-align: center;
}
.content__header p {
  width: 65%;
  font-size: 1rem;
  color: #fff;
  text-align: center;
}
.content__header button {
  width: 150px;
  height: 40px;
  border: none;
  background-color: #ff7043;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  box-shadow: 0px 0px 8px rgba(255, 171, 145, 0.4);
}
.content__header a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  display: flex;
  align-items: center;
  border-bottom: 3px dashed #fff;
}
.content__header a > svg {
  width: 20px;
}
/* __________________________________________________________ */
/* Login window style: */
.model__form {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: #fff;
  padding: 3rem 0;
  border-radius: 8px;
  z-index: 100;
}
.svg__clos {
  width: 40px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.model__form form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.model__form form > input {
  width: 70%;
  height: 40px;
  border: none;
  border-bottom: 2px solid rgb(144, 164, 174);
  padding-left: 1rem;
  transition: all ease-in 300ms;
}
.model__form form > input:focus {
  border-bottom: 2px solid rgb(41, 182, 246);
}
.model__form form > input:focus::placeholder {
  transform: translateY(-15px);
  color: rgb(41, 182, 246);
}
.model__form form > button {
  width: 70%;
  height: 40px;
  border: none;
  background-color: #ff7043;
  border-radius: 8px;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #fff;
  transition: all ease-in 300ms;
}
.svg__btn__form {
  width: 18px;
  transition: all ease-in 300ms;
}
.model__form form > button:hover {
  background-color: #000;
}
.model__form form > button:hover svg {
  transform: translateX(7px);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 90;
  transition: all 0.5s;
}
/* _______________________________________________________ */
.display__none {
  display: none;
}
/* _____________________________________________________ */
/* Responsive header: */
@media screen and (max-width: 1153px) {
  .content__header h2 {
    width: 90%;
    font-size: 2.9rem;
  }
  .nav__links a {
    font-size: 0.9rem;
  }
  .box__title h1 {
    font-weight: 900;
    font-size: 2rem;
  }
  .btn__login {
    width: 120px;
    height: 38px;
    font-size: 0.9rem;
  }
  .content__header p {
    width: 85%;
    font-size: 0.9rem;
  }
  .content__header button {
    width: 120px;
    height: 38px;
    font-size: 0.9rem;
  }
  .content__header a {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 999px) {
  .nav {
    width: 100%;
  }
  .box__title h1 {
    font-size: 1.7rem;
  }
  .nav__links a {
    font-size: 0.8rem;
  }
  .btn__login {
    width: 110px;
    height: 35px;
    font-size: 0.8rem;
  }
  .btn__login {
    gap: 2px;
  }
  .content__header h2 {
    font-size: 2.2rem;
  }
  .content__header p {
    width: 80%;
    font-size: 0.7rem;
  }
  .content__header button {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }
  .content__header a {
    font-size: 0.8rem;
  }
  .content__header a > svg {
    width: 17px;
  }
}
@media screen and (max-width: 720px) {
  .box__title h1 {
    font-size: 1.3rem;
  }
  .nav__links {
    gap: 0.8rem;
  }
  .nav__links a {
    font-size: 0.6rem;
  }
  .content__header h2 {
    font-size: 1.7rem;
  }
  .content__header p {
    width: 85%;
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 580px) {
  .nav__links {
    display: none;
  }
  .svg--open--Window--Tape--Links {
    display: flex;
  }
  .box__btn--login {
    gap: 1rem;
  }
}
@media screen and (max-width: 530px) {
  .content__header h2 {
    font-size: 1.2rem;
  }
  .content__header {
    margin: 4rem auto 0 auto;
    gap: 0.6rem;
  }
  .content__header button {
    width: 90px;
    height: 30px;
    font-size: 0.6rem;
  }
  .content__header a {
    font-size: 0.6rem;
  }
  .content__header a > svg {
    width: 13px;
  }
}
@media screen and (max-width: 500px) {
  .model__form {
    width: 300px;
    padding: 2rem 0;
  }
  .model__form form > button {
    height: 35px;
    gap: 2px;
  }
  .svg__clos {
    width: 30px;
  }
  .Window--Tape--Links--Responsive {
    padding: 0.8rem 0;
    gap: 0.6rem;
  }
  .svg--clos--Window--Tape--Links {
    width: 35px;
  }
  .Window--Tape--Links--Responsive a {
    font-size: 0.7rem;
  }
  .btn__login {
    width: 90px;
    height: 30px;
    font-size: 0.6rem;
  }
  .svg__login {
    width: 12px;
  }
  .svg--open--Window--Tape--Links {
    width: 30px;
  }
}
/* ______________________________________________________________ */
/* Section 1 Style: */
.section,
.footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 8rem;
  height: 100vh;
  border-bottom: 1px solid rgb(207, 216, 220);
  transform: translateY(0px);
  opacity: 1;
  transition: transform 1s, opacity 1s;
}
.box_btn_titleTEXT--section1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.box__title_text_section1 {
  width: 60%;
}
.box__title_text_section1 h4 {
  font-size: 2rem;
  font-weight: 900;
}
.box__title_text_section1 p {
  font-size: 1rem;
  width: 75%;
  color: #78909c;
}
.box_btn_section1 button {
  width: 150px;
  height: 45px;
  border-radius: 8px;
  background-color: inherit;
  border: 2px solid #ff7043;
  color: #ff7043;
  font-size: 1rem;
  font-weight: 900;
  transition: all ease-in 200ms;
}
.box_btn_section1 button:hover {
  background: #000;
  border: none;
}
.box_carts_section1 {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.cart {
  width: 100%;
  height: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
  background: #f1f1f1;
  border-radius: 8px;
  padding: 1rem 0.5rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  transform: translateX(100px);
  opacity: 0;
  transition: transform 400ms, opacity 400ms;
}
.svg_section1 {
  width: 70px;
  color: #ff7043;
  background-color: rgba(255, 204, 188, 0.6);
  padding: 0.6rem;
  border-radius: 100%;
  transition: all ease-in 200ms;
}
.cart h4 {
  font-size: 1.5rem;
  font-weight: 900;
}
.cart p {
  width: 90%;
  font-size: 1rem;
  color: #78909c;
}
.cart a {
  text-decoration: none;
  color: #ff7043;
  font-size: 1rem;
}
.cart:hover svg {
  background-color: #ff7043;
  color: #fff;
  transform: scale(1.1);
}
.transform__translateX-0 {
  transform: translateX(0px);
  opacity: 1;
}
.transform__translateY-0 {
  transform: translateY(100px);
  opacity: 0;
}
/* Responsive Section 1: */
@media screen and (max-width: 1120px) {
  .section {
    width: 100%;
    padding: 0 1.5rem;
  }
}
@media screen and (max-width: 945px) {
  .box__title_text_section1 h4 {
    font-size: 25px;
  }
  .box__title_text_section1 p {
    font-size: 0.8rem;
    width: 85%;
  }

  .box_btn_section1 button {
    width: 120px;
    height: 42px;
    font-size: 0.8rem;
  }
  .box_carts_section1 {
    width: 100%;
    gap: 1.2rem;
  }
  .cart {
    width: 100%;
    height: 240px;
    gap: 0.2rem;
  }
  .cart h4 {
    font-size: 1.1rem;
  }
  .cart p {
    font-size: 0.7rem;
  }
  .cart a {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 830px) {
  #section--1 {
    height: auto;
    padding: 2rem 1rem;
  }
  .box_carts_section1 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cart {
    width: 300px;
    height: 240px;
    gap: 0.2rem;
  }
}
@media screen and (max-width: 651px) {
  .section {
    gap: 4rem;
    /* padding: 2rem 1rem; */
  }
  .box__title_text_section1 h4 {
    font-size: 22px;
  }
  .box__title_text_section1 p {
    font-size: 0.6rem;
    width: 100%;
  }
  .box_btn_section1 button {
    width: 100px;
    height: 38px;
    font-size: 0.6rem;
  }
  .cart {
    width: 250px;
    height: 200px;
  }
}
@media screen and (max-width: 551px) {
  .cart {
    width: 100%;
  }
  .cart h4 {
    font-size: 1.3rem;
  }
  .svg_section1 {
    width: 80px;
  }
}
@media screen and (max-width: 417px) {
  .box__title_text_section1 h4 {
    font-size: 18px;
  }
  .box__title_text_section1 p {
    font-size: 0.5rem;
  }
  .box_btn_section1 button {
    width: 80px;
    height: 32px;
    font-size: 0.5rem;
  }
  .cart h4 {
    font-size: 1rem;
  }
  .svg_section1 {
    width: 60px;
  }
}
/* Section 2 Styles: */
#section--2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.img_section--2 {
  width: 400px;
  height: 550px;
  object-fit: cover;
  border-radius: 15px;
}
.title__section--2 {
  font-weight: 900;
}
.text__section--2 {
  font-size: 1rem;
  width: 100%;
  color: #78909c;
}
/* Responsive Section 2 */
@media screen and (max-width: 1100px) {
  .img_section--2 {
    width: 330px;
    height: 480px;
    object-fit: cover;
    border-radius: 15px;
  }
}
@media screen and (max-width: 815px) {
  #section--2 {
    gap: 3rem;
  }
  .text__section--2 {
    font-size: 0.8rem;
  }
  .img_section--2 {
    width: 280px;
    height: 430px;
  }
}
@media screen and (max-width: 640px) {
  .img_section--2 {
    width: 220px;
    height: 350px;
  }
}
@media screen and (max-width: 550px) {
  #section--2 {
    flex-wrap: wrap;
    height: auto;
    padding: 2rem 1rem;
  }
  .box__title_text--section--2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
  }
  .box_img_section--2 {
    width: 100%;
  }
  .img_section--2 {
    width: 100%;
    height: 350px;
  }
  .title__section--2 {
    font-size: 1.2rem;
  }
  .text__section--2 {
    font-size: 0.6rem;
    text-align: center;
  }
  .box_img_section--2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img_section--2 {
    width: 75%;
    height: 400px;
  }
}
@media screen and (max-width: 400px) {
  #section--2 {
    gap: 1rem;
  }
  .img_section--2 {
    width: 80%;
    height: 300px;
  }
}
@media screen and (max-width: 350px) {
  .img_section--2 {
    width: 85%;
    height: 250px;
  }
}
/* Section 3 Styles: */
#section--3 {
  flex-direction: column;
  font-size: 1.1rem;
  color: inherit;
  gap: 0;
}
.box_title_text_section--3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 75%;
}
.box_title_text_section--3 h3 {
  font-weight: 900;
  font-size: 1.5rem;
}
.box_title_text_section--3 p {
  font-size: 0.9rem;
  color: #78909c;
}
.box_bbottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box_img_section--3 {
  width: 70%;
}
.box_text_icon_section--3 {
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.box_svg_text-title {
  gap: 1.5rem;
  transition: all ease-in 200ms;
}
.D_A_J {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box__title_text_top h4 {
  font-weight: 900;
}
.box__title_text_top p {
  font-size: 0.9rem;
  color: #78909c;
}
.box_title_text h5 {
  font-weight: 900;
}
.box_title_text p {
  font-size: 0.9rem;
  color: #78909c;
}
.box_svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  color: #ff7043;
  /* background-color: rgba(255, 204, 188, 0.4); */
  padding: 0.6rem;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 3px solid #ff7043;
  box-shadow: 2px 2px 15px rgba(255, 87, 34, 0.7);
  transition: all ease-in 200ms;
}
.box_img_section--3 img {
  width: 320px;
  height: 540px;
  object-fit: cover;
  border-radius: 15px;
}
.box_svg_text-title:hover .box_svg {
  background-color: #ff7043;
  color: #fff;
  box-shadow: 0px 0px 0px #fff;
  transform: scale(1.1);
}
@media screen and (max-width: 880px) {
  #section--3 {
    gap: 2rem;
  }
  .box_title_text_section--3 h3 {
    font-size: 1.1rem;
  }
  .box_title_text_section--3 p {
    font-size: 0.7rem;
  }
  .box_img_section--3 img {
    width: 220px;
    height: 400px;
  }
  .box__title_text_top h4 {
    font-size: 1rem;
  }
  .box__title_text_top p {
    font-size: 0.7rem;
  }
  .box_title_text h5 {
    font-size: 0.8rem;
  }
  .box_title_text p {
    font-size: 0.7rem;
  }
  .box_svg {
    width: 80px;
  }
}
@media screen and (max-width: 710px) {
  .box_title_text_section--3 h3 {
    font-size: 0.9rem;
  }
  .box_title_text_section--3 p {
    font-size: 0.6rem;
  }
  .box__title_text_top h4 {
    font-size: 0.8rem;
  }
  .box__title_text_top p {
    font-size: 0.6rem;
  }
  .box_title_text h5 {
    font-size: 0.7rem;
  }
  .box_title_text p {
    font-size: 0.6rem;
  }
  .box_svg {
    width: 65px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .box_svg_text-title {
    gap: 0.6rem;
  }
  .box_img_section--3 img {
    width: 180px;
    height: 300px;
  }
  .box_img_section--3 {
    width: 60%;
  }
  .box_text_icon_section--3 {
    gap: 1.3rem;
  }
}
@media screen and (max-width: 570px) {
  .box_img_section--3 img {
    width: 150px;
    height: 250px;
  }
  #section--3 {
    gap: 1.5rem;
  }
  .box_img_section--3 {
    width: 50%;
  }
  .box_text_icon_section--3,
  #section--3 {
    gap: 0.9rem;
  }
  .box_svg {
    width: 55px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}
@media screen and (max-width: 530px) {
  #section--3 {
    height: auto;
    padding: 2rem 0.5rem;
  }
  .box_bbottom {
    flex-direction: column;
    gap: 0.8rem;
  }
  .box_img_section--3 img {
    width: 160px;
    height: 270px;
  }
  .box_title_text_section--3 {
    width: 98%;
  }
  .box_text_icon_section--3 {
    gap: 0.5rem;
  }
}
/* Section 4 Styles: */
#section--4 {
  width: 80%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 0;
  padding: 2rem 0;
}
.box_text_icon_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.box_icon_top {
  display: flex;
  align-items: center;
}
.box_cart_Doctor {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.cart_Doctor {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  height: 440px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.box_img_Doctor {
  height: 65%;
}
.box_img_Doctor img {
  width: 300px;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-position: center center;
}
.box_text_title_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.3rem;
  margin-top: 0.7rem;
}
.box-icon {
  display: flex;
  align-items: center;
  width: 250px;
  justify-content: space-between;
}
.box-icon svg {
  padding: 0.5rem;
  width: 50px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 2px 2px 15px rgba(255, 87, 34, 0.5);
  color: #ff7043;
  border: 3px solid #ff7043;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all ease-in 200ms;
  cursor: pointer;
}
.box-icon svg:hover {
  transform: scale(1.1);
  color: #fff;
  background-color: #ff7043;
}
.box_title_text_top h3 {
  font-weight: 900;
  font-size: 1.8rem;
}
.box_title_text_top p {
  font-size: 1rem;
  color: #78909c;
}
.box_icon_top svg {
  width: 70px;
  color: #ff7043;
  cursor: pointer;
}
